# Rust & Cargo
# Ignore compiled artifacts and dependencies
/target/

# Runtime Data & Logs
# Ignore the data directory created by nodes
/data/

# Ignore log files
log.txt
*.log
build_log.txt
clippy_log.txt

# Personal notes and logs
*.md
!README.md
!LICENSE.md
*.txt
*.sql
*.zip

# Environment files
# In case you add environment-specific variables
.env
.env.*

# Editor & IDE specific files
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Snapshots
*.snap
