name: Release

on:
  push:
    tags:
      - "v*"

env:
  CARGO_TERM_COLOR: always

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install protoc
        run: |
          sudo apt-get update
          sudo apt-get install -y protobuf-compiler

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Build release binary
        run: |
          cargo build --release

      - name: Create GitHub Release and upload binary
        uses: softprops/action-gh-release@v1
        with:
          files: target/release/chronos
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
